<html>
<head>
    <title>Identificate</title>
</head>
<body>
    <form asp-action="Login" method="post">
        <label>Rol</label><br />
        <select name="rol">
            <option value="user">Usuario</option>
            <option value="admin">Administrado</option>
            <option value="">Publico</option>
        </select>
    </form>
</body>
</html>
