<html>
<head>
    <title>Identificate</title>
</head>
<body>
    <form asp-action="Login" method="post">
        <label>Rol</label><br />
        <select name="rol">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
            <option value="">Publico</option>
        </select>
        <input type="submit" value="Entrar" />
    </form>
</body>
</html>
